.header {
    display: flex;
    flex: 1;
    padding-left: 40px;
}

.header-links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding-right: 40px;
    color: #e5e7eb;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

.header-links ul {
    display: flex;
    list-style-type: none;
    gap: 20px;;
}

.header-logo {
    color: white;
    display: flex;
    flex: 1;
    font-size: 15px;
}

.hero-div {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
    gap: 10px;

}

.hero-header {
    color: white;
    font-size: 32px;
}

.hero-paragraph {
    color: #e5e7eb;
    font-family: Arial, sans-serif;
}

.header-hero {
    background-color: #1f2937;
    max-width: 100%; 
}

.hero-header h2{
    font-family: Arial, sans-serif;
    font-size: 42px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: -10px;
}

.image {
   background-color: #6d747d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 400px;
    margin-top: 30px;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
}

/* Random Info Section below */

.random-header h2 {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-weight: 1200;
    margin-bottom: -20px;
}

.info-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    gap: 10px;;
}

.square-one, .square-two, .square-three, .square-four{
    border: 3px solid blue;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 400px;
    margin: 10px;
    gap: 15px;
    

.info-boxes p {
    font-family: Arial, sans-serif;
    text-align: center;
}